<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark main">
    <div class="container px-5">
        <a class="navbar-brand" href="#!">NAND How!</a>
        <img class="svg-icons" src = "/svg/AND.svg" alt="AND"/>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Start Learning</a></li>
                <li class="nav-item"><a class="nav-link" href="/main">Sandbox</a></li>
            </ul>
            <ul class="navbar-nav ms-auto"> 
                <% if (user) { %>
                    <li>
                        <div class="dropdown">
                            <a href="#" class="d-flex align-items-center justify-content-center pe-3 link-light text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi-person-circle h2"></i>
                            </a>
                            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser">
                                <li><a class="dropdown-item" href="/profile">Settings</a></li>
                                <li><a class="dropdown-item" href="/profile">Profile</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary" href="/logout">Logout</a>
                    </li>
                <%} else { %>
                    <li>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#loginModal">
                        Login
                        </button>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>