<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NAND How! Users</title>

    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"> -->
    

    <link type="text/css" rel="stylesheet" href="/css/aristo/jquery-ui-1.8.16.custom.css" />
    <link type="text/css" rel="stylesheet" href="/css/jquery.layout.css" />
    <link type="text/css" rel="stylesheet" href="/css/application.css" />

    <link type="text/css" rel="stylesheet" href="/css/main.css" />
    <link type="text/css" rel="stylesheet" href="/css/users.css" />
    
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css" rel="stylesheet"/>

    <!-- <link type="text/css" rel="stylesheet" href="/css/navbar.css" /> -->
    <!-- <link type="text/css" rel="stylesheet" href="/css/mainLayout.css" /> -->

</head>
<body >
    <header>
        <%- include('partials/topnav', {user: user}) -%>
    </header>

    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col-sm-auto bg-darkxxx sticky-top">
                <div class="d-flex flex-sm-column flex-row flex-nowrap bg-darkxxx align-items-center sticky-top">
                    
                    <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-between w-100 px-3 align-items-center ">

                    </ul>
                    <div class="dropdown">
                        <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi-person-circle h2"></i>
                        </a>
                        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser">
                            <li><a class="dropdown-item" href="/settings">Settings</a></li>
                            <li><a class="dropdown-item" href="/profile">Profile</a></li>
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
            <!-- Main users body -->
            <div class="container">
                <div class="row justify-content-center mt-5">
                  <ul class="row list-unstyled">
                    <% for(var i=0; i<users.length; i++) {%>
                      <li class="col-6 justify-content-between mt-5">
                        <a href="/users/<%= users[i]._id%>">
                          <%= users[i].userName %>
                        </a>
                      </li>
                    <% } %>
                    </ul>
                </div>
              </div>  
            <!-- end main users body -->

            </div>

        </div>
    </div>
    
    <!-- Footer-->
    <footer class="xxxpy-5 bg-dark">
        <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; NAND How! 2022</p></div>
    </footer>

    <!-- Login Modal -->
        <%- include('partials/loginmodal') -%>
    <!-- /Login Modal -->


    <!-- Scripts below here -->

    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>

    
</body>
</html>