body {
  /* background: transparent url(background.png); */
  /* margin:0px; */
}

#inputbox {
  border: 1px solid white;
  border-radius: 10px;
  background-color: #3b3b3b;
  color: #f3f3f3;
  position: absolute;
  padding: 20px;
  top: 10px;
  left: 10px;
}

.shadow {
  -moz-box-shadow: 3px 3px 4px #000;
  -webkit-box-shadow: 3px 3px 4px #000;
  box-shadow: 3px 3px 4px #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.nand-canvas {
  background: transparent url(background.png);
  width: 600px;
  height: 600px;
  border: 1px solid black;
}

#main-canvas {
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: relative;
  /* top: 64px;
	right: 0px;
	left: 160px;
	bottom: 0px; */
  overflow: scroll;
  background-color: #ffffff;
}
